# 가상환경 폴더 (.venv는 프로젝트마다 이름이 다를 수 있으니 실제 사용하는 폴더명에 맞게 조정)
.venv/
venv/

# 환경변수 파일
.env

# Python 캐시 파일 및 디렉토리
*.pyc
__pycache__/

# 운영체제 관련 파일 (macOS 파일이나 윈도우에서도 생성되는 임시 파일 등)
.DS_Store

# PyCharm 관련 파일
.idea/
