.calendar-container {
  width: 90%;
  max-width: 800px;
  height: auto; 
  background-color: #fff;
  padding: 10px;
  box-sizing: border-box;
  margin: auto;
  border-radius: 10px;
  overflow: hidden; 
}


.fc {
  max-height: 100%;
  overflow: hidden !important;
}


.fc-scrollgrid {
  max-height: 100%;
  overflow: hidden !important;
}

.fc-daygrid-day-frame {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 80px; 
  padding: 5px;
  overflow: hidden;
}


