/* ✅ 1000~1999번 카드일 때 컨테이너 */
.CateCardInfoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px; /* 🔥 이미지 크기 줄이기 */
  height: 270px;
}

/* ✅ 이미지 스타일 */
.CateCardImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
