.ThreeSentenceButton {
  width: 75px; /* 버튼 가로 크기 고정 */
  height: 75px; /* 버튼 세로 크기 고정 */

  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  background-color: #93e984; /* 버튼 색상 */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  transition:
    transform 0.2s ease-in-out,
    transform 0.2s;
  cursor: pointer; /* 클릭 가능 표시 */

  color: white;
  text-align: center;
  font-size: 1.5rem; /* 텍스트 크기 */
  font-weight: bold; /* 텍스트 굵기 */
}

.ThreeSentenceButton:hover {
  transform: scale(1.1); /* 호버 시 버튼 확대 효과 */
}
