.BackgroundContainer {
  background-image: url('/background_2.png'); /* 배경 이미지 경로 */
  background-size: cover; /* 화면 채우기 */
  background-position: center; /* 이미지 중앙 정렬 */
  height: 100vh;
  display: flex;
  flex-direction: column; /* 세로 방향 정렬 */
  justify-content: center; /* 세로 중앙 정렬 */
  align-items: center; /* 가로 중앙 정렬 */
  position: relative; /* 컨테이너 내부 요소들의 위치 기준 */
}

.NfcImageContainer {
  position: absolute; /* 이미지의 위치를 로딩 써클과 분리 */
  bottom: 45%; /* 위치 조정 */
}

.NfcImage {
  width: 50vh;
  height: auto;
}

.LoadingContainer {
  position: relative; /* 로딩 써클의 독립적 위치 설정 */
  bottom: 10%; /* 위치 조정 */
}

.LoadingCircle {
  width: 55vh; /* 로딩 원 크기 */
  height: 55vh;
  border: 70px solid rgba(0, 0, 0, 0.1); /* 배경 원 스타일 */
  border-top: 70px solid #3498db; /* 회전하는 부분 색상 */
  border-radius: 50%; /* 원형으로 만들기 */
  animation: spin 1.5s linear infinite; /* 회전 애니메이션 설정 */
  margin: 0 auto; /* 정중앙 정렬 */
}

@keyframes spin {
  0% {
    transform: rotate(0deg); /* 처음 위치 */
  }
  100% {
    transform: rotate(360deg); /* 360도 회전 */
  }
}

.LoadingTextContainer {
  position: absolute; /* 텍스트 위치를 독립적으로 관리 */
  top: 75%; /* 위치 조정 */
  text-align: center;
}

.LoadingText {
  font-size: 5rem;
  font-weight: bold;
  color: #000; /* 텍스트 색상 */
}
