<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.aitalk.user.mapper.UserMapper">

    <resultMap id="userResultMap" type="com.ssafy.aitalk.user.entity.User">
        <id property="therapistId" column="therapist_id"/>
        <result property="id" column="id"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <result property="therapistName" column="therapist_name"/>
        <result property="phoneNumber" column="phone_number"/>
    </resultMap>

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="therapistId">
        INSERT INTO speech_therapist (id, password, email, therapist_name, phone_number)
        VALUES (#{id}, #{password}, #{email}, #{therapistName}, #{phoneNumber})
    </insert>

    <select id="findById" resultMap="userResultMap">
        SELECT * FROM speech_therapist WHERE id = #{id}
    </select>

    <select id="countById" resultType="Integer">
        select count(*) from speech_therapist where id = #{id}
    </select>

    <select id="countByEmail" resultType="Integer">
        select count(*) from speech_therapist where email = #{email}
    </select>

</mapper>
