.CardInfoContainer {
  width: 150px;
  height: 150px;
  text-align: center;
  background-color: hsla(93, 70%, 48%, 0); /* 배경 색상 및 투명도 */
  margin-top: -40px; /* 위로 이동 */
}

.CardTexts {
  font-size: 2rem;
  font-weight: bold;
  color: black;
}

.CardImage {
  margin: auto;
  width: 150px;
  height: 150px;
}

.BigCardInfoContainer {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 200px;
  position: relative;
  top: 5%;
}

.BigCardInfoContainer .CardImage {
  width: 200px;
  height: 200px;
  max-width: none !important;
  max-height: none !important;
  position: relative;
  right: 18%;
}

.BigCardInfoContainer .CardText {
  font-size: 2.5rem;
}
