.LoadingContainer {
  position: relative;
  bottom: 10%;
}

.LoadingCircle {
  width: min(50vw, 60vh); /* 뷰포트에 맞춰 크기 조정 */
  height: min(50vw, 60vh);
  border: max(2.5vw, 5px) solid rgba(255, 154, 108, 0.3); /* 기본 원 (30% 투명도) */
  border-top: max(2.5vw, 5px) solid rgba(255, 154, 108, 1); /* 돌아가는 부분 (100% 불투명) */
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
