
.header-container {
    background-color: white;
    padding: 10px 20px;
  }
  

.logo-container {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.logo {
  height: 100px; 
  width: auto;
  cursor: pointer;
}


.header-line {
  width: 100%;
  border: none;
  height: 2px;
  background-color: #ddd; 
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    height: 90px;
    font-size: 20px;
  }

  .nav-item {
    margin: 0 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .nav-item:hover {
    color: #007bff; 
  }


  .profile-section {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .profile-section span {
    margin-right: 8px;
    font-weight: bold;
  }
  
  .profile-icon {
    font-size: 28px;
    color: black;
    transition: color 0.3s;
  }
  
  .profile-icon:hover {
    color: #007bff; 
  }
  
  
  .divider {
    border: none;
    height: 1px;
    background-color: black;
    margin: 0;
    width: 100%;
  }
  