@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Gowun+Batang&display=swap');

.CameraPlaySelectContainer {
  background-image: url('/src/assets/background/background_3.png');
  background-size: cover;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Dongle', serif;
}

.CameraPlaySelectInnerContainer {
  display: flex;
  gap: 4rem; /* 각 요소 사이 간격 */
  margin-top: 3rem; /* 전체 간격 조정 */
}

.ButtonContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem; /* 버튼 간 간격 설정 */
  position: relative;
  top: 10%;
}
