@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Gowun+Batang&display=swap');

.CardPlaySelectWordContainer {
  background-image: url('/src/assets/background/background_3.png');
  background-size: cover;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* 내부 요소의 절대 위치 기준 */
  cursor: pointer;
}

/* NFC 로딩 컨테이너 (우측 상단 고정) */
.NfcLoadingWrapper {
  position: absolute;
  top: -70px;
  right: -65px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.3); /* 크기 축소 */
}

/* NFC 이미지 조정 */
.NfcCentered {
  position: absolute;
  z-index: 2;
  margin-bottom: -40px;
  margin-right: 10px;
}

/* 카드 정보 컨테이너 크기 조정 */
.LargeCardInfoContainer {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

.LargeCardInfoContainer .CardImage {
  width: 100%;
  height: 100%;
}

.LargeCardInfoContainer .CardText {
  font-family: 'Dongle', serif;
  font-size: 2.5rem;
}
