.HomeLogoContainer {
  position: absolute;
  width: 60%;
  height: auto;
  top: 45%;
  left: 50%;
  animation: floating 2s infinite ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(-50%, -50%) translateY(0) rotate(0);
  }
  25% {
    transform: translate(-50%, -50%) translateY(-5px) rotate(-0.5deg);
  }
  50% {
    transform: translate(-50%, -50%) translateY(5px) rotate(0.5deg);
  }
  75% {
    transform: translate(-50%, -50%) translateY(-5px) rotate(-0.5deg);
  }
  100% {
    transform: translate(-50%, -50%) translateY(0) rotate(0);
  }
}
