@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Gowun+Batang&display=swap');

.CardPlaySelectThreeSentenceContainer {
  background-image: url('/src/assets/background/background_3.png');
  background-size: cover;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* 내부 요소의 절대 위치 기준 */
  font-family: 'Dongle', serif;
}

.LargeCardInfoContainer {
  width: 400px;
  height: 200px;
  margin-bottom: 20px;
}

.LargeCardInfoContainer .CardImage {
  width: 200px;
  height: 200px;
}

/* 카드 이름 (text) 스타일 조정 */
.CardPlaySelectThreeSentenceContainer .CardInfoContainer p {
  font-family: 'Dongle', serif;
  font-size: 3rem; /* 텍스트 크기 */
  font-weight: bold; /* 텍스트 굵기 */
  text-align: center; /* 중앙 정렬 */
  color: #333; /* 글자 색 */
}
