@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Gowun+Batang&display=swap');

.CardPlaySelectWordContainer {
  background-image: url('/src/assets/background/background_3.png');
  background-size: cover;
  height: 90vh;
  display: flex;
  justify-content: center;
  position: relative; /* 내부 요소의 절대 위치 기준 */
  font-family: 'Dongle', serif;
  padding-top: 70px;
}

/* NFC 로딩 컨테이너 (우측 상단 고정) */
.NfcLoadingsWrapper {
  position: absolute;
  top: -200px;
  right: -160px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.35); /* 크기 축소 */
}

/* NFC 이미지 조정 */
.SmallNfcCentered {
  position: absolute;
  z-index: 2;
  width: 60%;
  height: auto;
  margin-bottom: -25px;
}

/* 카드 이름 (text) 스타일 조정 */
.CardPlaySelectWordContainer .BigCardInfoContainer .CardInfoContainer p {
  font-family: 'Dongle', serif;
  font-size: 10rem;
  font-weight: bold;
  text-align: center;
  color: #5a3e2b;
}

.CardPlaySelectWordContainer .BigCardInfoContainer .CardInfoContainer img {
  width: 600px;
  height: auto;
  margin-left: 250px;
}

.NfcLoadingsWrapper .SmallNfcTagText p {
  font-size: 4rem;
}

/* 카드 이미지 부드럽게 흔들리는 애니메이션 */
.BigCardInfoContainer .CardInfoContainer {
  animation: floating 2s infinite ease-in-out;
}

/* 부드러운 흔들림 (둥둥 떠 있는 듯한 효과) */
@keyframes floating {
  0% {
    transform: translateY(0) rotate(0);
  }
  25% {
    transform: translateY(-5px) rotate(-0.5deg);
  }
  50% {
    transform: translateY(5px) rotate(0.5deg);
  }
  75% {
    transform: translateY(-5px) rotate(-0.5deg);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
