@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Gowun+Batang&display=swap');

.CategoryCardPlaySelectContainer {
  background-image: url('/images/background/background_3.png');
  background-size: cover;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Dongle', serif;
}

.CategoryCardPlaySelectInnerContainer {
  display: flex;
  gap: 1rem; /* 각 요소 사이 간격 */
  margin-top: 3rem; /* 전체 간격 조정 */
}

.ButtonContainers {
  display: flex;
  flex-direction: row;
  gap: 1rem; /* 버튼 간 간격 설정 */
  position: relative;
  margin-top: 10rem;
  margin-left: 3rem;
}

.CategoryCardPlaySelectWordButtonStyle {
  width: 160px;
  height: 160px;
  font-size: 5rem;
  border-radius: 20px;
  margin-right: 1rem;
}

.CategoryCardPlaySelectThreeSentenceButtonStyle {
  width: 160px;
  height: 160px;
  font-size: 5rem;
  border-radius: 20px;
  margin-left: 1rem;
}

/* ✅ 카드 이름 스타일 */
.CategoryCardTitle {
  position: absolute;
  font-size: 4rem; /* 🔥 글자 크기 키우기 */
  font-weight: bold;
  top: 82%;
  left: 30%;
  animation: floating 4s infinite ease-in-out;
}
