@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Gowun+Batang&display=swap');

.CategoryCardPlaySelectContainer {
  background-image: url('/src/assets/background/background_3.png');
  background-size: cover;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Dongle', serif;
}

.CategoryCardPlaySelectInnerContainer {
  display: flex;
  gap: 5rem; /* 각 요소 사이 간격 */
  margin-top: 3rem; /* 전체 간격 조정 */
}

.ButtonContainers {
  display: flex;
  flex-direction: row;
  gap: 1.5rem; /* 버튼 간 간격 설정 */
  position: relative;
  top: 20%;
}

.CategoryCardPlaySelectWordButtonStyle {
  width: 250px;
  height: 250px;
  font-size: 7rem;
  border-radius: 30px;
  margin-right: 15px;
}

.CategoryCardPlaySelectThreeSentenceButtonStyle {
  width: 250px;
  height: 250px;
  font-size: 7rem;
  border-radius: 30px;
  margin-left: 15px;
}
