@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Gowun+Batang&display=swap');

.HomeContainer {
  background-image: url('/images/background/background_1.png');
  background-size: cover;
  height: 100vh;
  font-family: 'Dongle', serif;
  font-style: normal;
}

.ButtonsContainer {
  display: flex; /* Flexbox 사용 */
  flex-direction: column; /* 세로 정렬 */
  align-items: center; /* 가로 중앙 정렬 */
  justify-content: center; /* 세로 중앙 정렬 */
  gap: 30px; /* 버튼 간 간격 */
  position: relative;
  top: 61%;
}

.HomeMusicToggleButton {
  position: absolute;
  top: 0px; /* 🔹 위쪽 여백 */
  right: 0px; /* 🔹 오른쪽 여백 */
  z-index: 1000; /* 🔹 다른 요소 위에 배치 */
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.HomeMusicToggleIcon {
  width: 90px;
  height: 90px;
}

.FaceIdLoginButton {
  background-color: #6f4439; /* 로고 색상과 조화 */
  color: white;
  font-size: 40px;
  border-radius: 16px;
  height: 60px;
  width: 320px;
  transition: background-color 0.2s;
  margin-right: 10px;
  margin-bottom: -10px;
}

.CardLoginButton {
  background-color: #b08b7a; /* 로고와 어울리는 중간 브라운 */
  color: white;
  font-size: 40px;
  border-radius: 16px;
  height: 60px;
  width: 320px;
  transition: background-color 0.2s ease-in-out;
  margin-left: 10px;
  margin-bottom: -10px;
}

.FaceIdRegistrationButton {
  background-color: #a67c68; /* 서브 버튼 - 밝은 브라운 */
  color: white;
  font-size: 40px;
  border-radius: 16px;
  height: 60px;
  width: 320px;
  transition: background-color 0.2s;
}

.IdPwLoginButton {
  background-color: transparent;
  color: black;
  font-size: 40px;
  border-radius: 16px;
  height: 60px;
  width: auto;
  transition: background-color 0.2s;
}
