.LoadingContainer {
  position: relative;
  bottom: 10%;
}

.LoadingCircle {
  width: 55vh;
  height: 55vh;
  border: 70px solid rgba(0, 0, 0, 0.1);
  border-top: 70px solid #3498db;
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
